{% extends "base.html" %}

{% block title %}Articles for mine{% endblock %}

{% block active-control %}
              <li><a href="/news">Home</a></li>
              <li class="active"><a href="article.html">Article</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
{% endblock %}


{% block content %}
<div class="page-header">
{% if article %}
	<h1>{{article.article_title}}</h1>
	<h2>{{article.article_author}}</h2>
	<h2>{{article.pub_date}}</h2>
	<p>{{article.article_content}}</p>
	{% if article.photo %}
		<img src="{% url 'media' article.photo %}" height="200" width="200">
	{% endif %}

{% else %}

{% endif %}

</div>


{% endblock %}